aiohttp==3.10.10
debugpy==1.8.8
fastapi==0.115.12
kagglehub==0.3.10
matplotlib==3.10.1
numpy==1.26.4
openai==1.69.0
pandas==2.2.3
Pillow==11.1.0
pydantic==2.11.0
Requests==2.32.3
scikit_learn==1.6.1
shortuuid==1.0.13
torch==2.4.0
tqdm==4.66.6
uvicorn==0.34.0
vllm==0.6.3.post1
transformers==4.46.1
